---
import { literal } from "astro:schema";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from '../layouts/Layout.astro';
const pageTitle = "Sobre Mi";

const identity = {
	firsname: "Sebastian",
	country: "Chile",
	hobbies : ["Ver peliculas", "La musica(friki)", "De vez cuando juego algun juego","Me gusta sacar fotos!!"],
};

const skills = [
	{
		name: "HTML",
		percent: 90,
	},
	{
		name: "python",
		percent: 30,
	},
	{
		name: "JavaScript",
		percent: 10,
	},
	{
		name: "Astro",
		percent: 10,
	}
];

const happy = true;
const finished = false;
const goal = 7;


const skillColor = "green";
const textCase = "uppercase";
const fontWeight = "bold";
---

<Layout title={pageTitle}>
  <div transition:animate="slide">
    <h1 class="text-4xl font-light tracking-wide mb-6">{pageTitle}</h1>
    <div class="prose prose-lg">
      <p class="text-lg leading-relaxed">
        Esta es una página de ejemplo para mostrar las transiciones entre páginas.
        
      </p>
      <a href="/" class="text-gray-800 hover:text-gray-600 underline">
        Volver al inicio
      </a>
    </div>
  </div>
</Layout>