---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link href="https://fonts.cdnfonts.com/css/runstop-restore" rel="stylesheet">
                
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi </a>
		<a href="/blog/">Blog</a>
		<h1>Sobre mi</h1>

        <h2>.... !Y mi nuevo sitio Astro!    </h2>

		<p>Estoy trabajando en un blog siguiendo el tutorial de la pagina de astro </p>
		<p>Este sitio se ira actualizando a medida que vaya completando parte del tutorial!</p>
	</body>
</html>