---
const pageTitle = "Mi blog de astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <link href="https://fonts.cdnfonts.com/css/runstop-restore" rel="stylesheet">
                
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Sobre mi </a>
        <a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>

        <p>Aqui publicare sobre mi aprendizaje de Astro</p>
        <ul>
            <li><a href="/posts/post-1">Publicacion 1</a></li>
            <li><a href="/posts/post-2">Publicacion 2</a></li>
            <li><a href="/posts/post-3">Publicacion 3</a></li>
        </ul>
	</body>
</html>