---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Inicio";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HomeImage from '../components/HomeImage.astro';

---

<Layout title={pageTitle}>
	<div class="relative min-h-screen bg-white" transition:animate="slide">
		<!-- Contenido principal -->
		<div class="relative z-10 max-w-7xl mx-auto px--12 pt-32">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-4 items-center">
				<!-- Texto -->
				<div class="space-y-6 ">
					<h1 class="text-6xl font-serif tracking-wide text-black ">
						No fumes<br/>
						No ennui
					</h1>
				</div>
				
				<!-- Imagen -->
				<div class="overflow-hidden">
					<HomeImage slug="index" />
				</div>
			</div>

			<!-- Mensaje de contacto -->
			<div class="max-w-7xl mx-auto py-16">
				<div class="md:w-1/2">
					<p class="text-gray-800 font-serif text-lg">
						If you want to send me a letter 
						<a 
							href="mailto:sebastian.almo9@gmail.com" 
							class="text-black hover:text-gray-600 underline underline-offset-4 transition-colors"
						>
							click here
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	h1 {
		font-family: 'Times New Roman', serif;
		line-height: 1.2;
	}
</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.cdnfonts.com/css/runstop-restore" rel="stylesheet">
                
		<title>{pageTitle}</title>
	</head>
	<body class="pt-16 font-serif">
		<Header/>
		<main class="max-w-7xl mx-auto px-4 py-8">
			<h1 class="text-4xl font-light tracking-wide mb-6">{pageTitle}</h1>
			<div class="prose prose-lg">
				<h1 class="font-light tracking-wide">Holaaaa</h1>
			</div>
		</main>
		
	</body>
</html>
