---

---
</head>
  <body id="home" class="theme">
    <header class="header">
      <div class="wrapper">
        <div class="header-nav">
          <button class="open-menu menu-bars" aria-label="Open navigation menu">
            <svg aria-hidden="true" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"></path></svg>
          </button>
          
          
            
              <div class="navigation-page-title open-menu">Home</div>
            
          
        </div>
        <div class="store-name image">
          
            <!-- --><a class="store-link" href="/" title="013lei"><img alt="013lei" src="https://assets.bigcartel.com/theme_images/125590398/013lei+web+title.png?auto=format&fit=max&h=100&w=400"></a>
          
        </div>
        <div class="cart-link">
          <a href="/cart" title="View bag (0 Items)">
            <svg aria-hidden="true" viewBox="0 0 30 30"><path d="M22.7 8c-.9-3.4-4-6-7.7-6S8.2 4.6 7.3 8H2l3 20h20l3-20h-5.3zM15 4c2.6 0 4.8 1.7 5.6 4H9.3c.9-2.3 3.1-4 5.7-4zm8.3 22H6.7L4.3 10H7v3h2v-3h12v3h2v-3h2.7l-2.4 16z"/></svg>
            
          </a>
        </div>
      </div>
    </header>

    <main class="content theme page-home">
      <div class="wrapper">
        
          


  <div class="home-welcome">
    <a href="/products"><img class="welcome-image" src="https://assets.bigcartel.com/theme_images/137635167/Screenshot+2025-02-26+at+16.40.30.png?auto=format&fit=max&h=1400&w=2000"></a>
    
      <div class="welcome-message">
        <h2 class="welcome-header">Please allow up to 4-8 weeks for your order to be shipped as all pieces are made-to-order!</h2>
        
      </div>
    
  </div>



  <h1 class="page-header visually-hidden">Featured products</h1>
    
      </div>
    </main>

    <div class="overlay">
      <div class="overlay-background"></div>
      <div class="wrapper">

        <div class="close-container">
          <button class="close-overlay" type="button" aria-label="Close navigation menu">
            <svg aria-hidden="true" viewBox="0 0 17 17"><path d="M17 1.4L15.6 0 8.5 7.1 1.4 0 0 1.4l7.1 7.1L0 15.6 1.4 17l7.1-7.1 7.1 7.1 1.4-1.4-7.1-7.1z"/></svg>
          </button>
        </div>
        
        <nav class="overlay-navigation">
          <ul class="page-list">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Shop</a></li>
            
              <li><a title="View Objects" href="/archived">Objects</a></li>
            
              <li><a title="View Sizing" href="/sizing">Sizing</a></li>
            
              <li><a title="View Shipping" href="/shipping">Shipping</a></li>
            
              <li><a title="View Privacy policy" href="/privacy-policy">Privacy policy</a></li>
            
            <li><a href="/contact">Contact</a></li>
            
              <li><a href="http://www.013lei.com">Back to site</a></li>
            
          </ul>
          
        </nav>
      </div>
    </div>
    
  

</body>
</html>