---
import Layout from '../layouts/Layout.astro';
import Player from '../components/Player.astro';
import '../styles/base.css';
const pageTitle = "Music Player";
---

<Layout title={pageTitle}>
  <div class="bg-[#000000] py-16 mx-auto max-w-4xl rounded-3xl" transition:animate="slide">
    <Player />
  </div>
</Layout>

<style>
  div {
    margin-top: 2rem;
  }
</style>
